<div class="subheader">

    <h2 class="pull-left col-md-4 col-sm-5">
        <a class="in-link" href="{{url ""}}/" id="home" >
            <span class="fa-stack fa-lg bred-home-ico">
                <i class="fa fa-home fa-stack-1x" ></i>
                 <i class="fa fa-circle-thin fa-stack-2x"></i>
            </span>
            <span id="bred-home">Home</span>
        </a>
        {{#if appname}}
        <span id="bred-level2">
            <span>/</span>
            <a class="in-link" href="{{url ""}}/webapps/{{appname}}/">
                <span>{{appname}}</span>
            </a>
        </span>
        {{/if}}
        {{#if aspect}}
        <span id="bred-level3">
            <span>/</span>
            <span>{{aspect}}</span>
        </span>
        {{/if}}
    </h2>

  <span class="subheader-right pull-right col-md-8 col-sm-7">

   	<span class="dropdown server-select ">
    	Servers:
		  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              All
              <span class="caret"></span>
          </button>
		  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="server-list">
          </ul>
		</span>

		<div class="btn-group quick-selection pull-right">
            <button type="button" data-unit="hours" data-offset="1" class="btn btn-default date-rage-opt hidden-sm hidden-md hidden-xs">Hour</button>
            <button type="button" data-unit="days" data-offset="1" class="btn btn-default date-rage-opt hidden-sm hidden-md hidden-xs active">Day</button>
            <button type="button" data-unit="days" data-offset="7" class="btn btn-default date-rage-opt hidden-sm hidden-md hidden-xs">Week</button>
            <button type="button" data-unit="days" data-offset="29" class="btn btn-default date-rage-opt hidden-sm hidden-md hidden-xs">Month</button>
            <button type="button" class="btn btn-default" id="reportrange">
                <i class="fa fa-calendar fa-lg"></i>
                <span>July 16, 2014 - July 23, 2014 </span><b class="caret"></b>
              </button>
        </div>

  </span>

</div>
